<br>
<br>
Versión aplicacion: 1.0<br>
Base de datos: PostgreSQL 10<br>
Rails: Rails 5.1.6<br>
Editor: Code 1.25.1<br>
Arquitectura: x64

<p id="notice"><%= notice %></p>

<div class="container">
    <div class="card mx-auto mt-9">
        <div class="card-header">Estudiantes</div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Direccion de correo</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jhon Albeiro Valencia Guerrero</td>
                                    <td>albeiro.valenciag@gmail.com</td>
                                    <td>Equipo desarrollador</td>          
                                </tr>
                                <tr>
                                    <td>Johan Camilo Castillo Acosta</td>
                                    <td>camilo0297@hotmail.com</td>
                                    <td>Product Owner</td>          
                                </tr>
                                <tr>
                                    <td>Juan Carlos Díaz Quiñonez</td>
                                    <td>juanca2586@gmail.com</td>
                                    <td>Equipo desarrollador</td>          
                                </tr>
                                <tr>
                                    <td>Juan Carlos Jaramillo Corrales</td>
                                    <td>Juancho150270@gmail.com</td>
                                    <td>Scrum Master</td>          
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
