<% if @mensaje != nil %>
  <input type="text" id="txtMensaje" hidden="" value="<%= @mensaje %>" />
  <input type="text" id="txtTipo" hidden="" value="<%= @tipo %>" /> 

    <script>
        swal("Mensaje", 
        document.getElementById("txtMensaje").value, 
        document.getElementById("txtTipo").value);
    </script>
<% end %>
<br>
<br>
<h1>Bienvenido al sistema de la institución educativa - ObservadorWeb 1.0</h1>