	
    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Observador Estudiantil</h1>
              <p class="mb-5">
				</p>
              <div class="input-group input-group-newsletter">
				<!--<input type="registrar" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon">-->
                <div class="input-group-append">
                <%= form_tag(:controller => "utaps", :action => "login", :method => "post") do |f| %>	
                  <input type="submit" class="btn btn-primary btn-block" value="Ingresar"/>   
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
    <div class="social-icons">
	
	<div class="masthead">
      
      <div class="container h-100">
        <div class="row h-100">
	
		<div class="col-12 my-auto">
            
              <h3 class="mb-2">Es una aplicación web que permite evidenciar y controlar los procesos de los estudiantes, esto con el fin de mejorar la ruta de atención integral para la Convivencia Escolar (Ley 1620 del 2013).
              </h3>
		<br>
          </div>
	</div>
	</div>
	</div>
	
	
	 
		
	 
      <ul class="list-unstyled text-center mb-0">
		<!--<img src="img/0001.jpg">-->
		<img src="img/Plantilla.png" class="rounded" alt="Cinque Terre">
        <!--<li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>-->
      </ul>
    </div>
    