<% if @mensaje != nil %>
  <input type="text" id="txtMensaje" hidden="" value="<%= @mensaje %>" />
  <input type="text" id="txtTipo" hidden="" value="<%= @tipo %>" /> 
    <script>
        swal("Mensaje", 
        document.getElementById("txtMensaje").value, 
        document.getElementById("txtTipo").value);
    </script>
<% end %>

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <%= form_tag(:controller => "utaps", :action => "ingresar", :method => "post") do |f| %>	
          <div class="form-group">
            <label for="lblUser">User</label>
            <input class="form-control" id="txtUser" name="txtUser" type="text" 
            placeholder="Enter user">
          </div>
          <div class="form-group">
            <label for="lblPassword">Password</label>
            <input class="form-control" id="txtPassword" name="txtPassword" type="password" 
            placeholder="Password">
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Login"/>          
        <% end %>        
      </div>
    </div>
  </div>