<% if @mensaje != nil %>
  <input type="text" id="txtMensaje" hidden="" value="<%= @mensaje %>" />
  <input type="text" id="txtTipo" hidden="" value="<%= @tipo %>" /> 
    <script>
        swal("Mensaje", 
        document.getElementById("txtMensaje").value, 
        document.getElementById("txtTipo").value);
    </script>
<% end %>

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Correo registrado</div>
      <div class="card-body">
        <%= form_tag(:controller => "utaps", :action => "recuperar_clave", :method => "post") do |f| %>	
          <div class="form-group">
            <label for="lblCorreo">Correo</label>
            <input class="form-control" id="txtCorreo" name="txtCorreo" type="text" 
            placeholder="Ingrese su direccion de correo registrado">
          </div>
          
          <input type="submit" class="btn btn-primary btn-block" value="Aceptar"/>      
        <% end %>        
      </div>
    </div>
  </div>