<<<<<<< HEAD
<%if @mensaje!=nil%>
<script>
swal({ title: "<%=@mensaje%>", type: "<%=@tipo%>", timer: 4000, 
showConfirmButton: true, closeOnConfirm: true });
</script>
<%end%>
<br>
<br>
<h1>Bienvenido al sistema de la institución educativa - ObservadorWeb 1.0</h1>
=======
<%if @mensaje!=nil%>
<script>
swal({ title: "<%=@mensaje%>", type: "<%=@tipo%>", timer: 4000, 
showConfirmButton: true, closeOnConfirm: true });
</script>
<%end%>
>>>>>>> 1e01f4e9f22fa18c286cca6ece8acf2e32a1bba9
