<%if @mensaje!=nil%>
<script>
swal({ title: "<%=@mensaje%>", type: "<%=@tipo%>", timer: 4000, 
showConfirmButton: true, closeOnConfirm: true });
</script>
<%end%>
<div class="container">
<div class="col-md-1">
<img class="img" src="/img/logo_colegio.png"/>
</div>
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Ingreso</div>
      <div class="card-body">
        <%= form_tag(:controller => "users", :action => "login", :method => "post") do |f| %>		
          <div class="form-group">
            <label for="txtUser">Direcci칩n de correo</label>
            <input class="form-control" id="txtUser" name="txtUser" type="email" aria-describedby="emailHelp" placeholder="Ingrese direcci칩n de correo">
          </div>
          <div class="form-group">
            <label for="txtPassword">Contrase침a</label>
            <input class="form-control" id="txtPassword" name="txtPassword" type="password" placeholder="Contrase침a">
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Ingresar"/>
        <% end %>
      </div>
    </div>
  </div>
