<% if @contrasena_recuperada != nil %>
  <h1>
Se ha realizado un proceso de recuperacion de contraseña, si ud no realizo el proceso por favor eliminar este correo.
<br>Contraseña: <%@contrasena_recuperada%>
</h1>
<% end %>
<% if @usuario_creado != nil %>
  <h1>
Se ha creado la cuenta correctamente
</h1>
<% end %>
