  <h2>
Se ha realizado un proceso de recuperacion de contraseña, si ud no realizo el proceso por favor eliminar este correo.
<br>Contraseña: <%= @clave_recuperada %>
<br>Acceder a <a href="http://localhost:3000/observador">Observador Estudiantil</a>
</h2>
